
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.header {
    background-color: rgb(238, 232, 232);
    height: 50px;
    display: flex;
    align-items: center;
    
}

.ghost-icon-invert {
    width: 75px;
    height: 75px;
}

.home-box-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.home-row-1 {
    display: flex;
    margin-top: 60px;
    align-items: center;
}

.home-column-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
}

.home-column-1 h3 {
    margin-top: -50px;
    font-family: Poppins;
    margin-left: 80px;
}

.home-row-1 h1 {
    font-size: 4rem;
    margin-left: -50px;
    font-family: Poppins;
}

.home-box {
    display: flex;
    flex-direction: column;
    width: 250px;
    font-family: Poppins;
    font-weight: 100;
    margin-right: 30px;
    border: 1px solid white;
    border-radius: 1em;
    padding: 15px 20px;
}

.home-box p {
    text-decoration: none;
    color: white;
}

.home-box h3 {
    text-decoration: none;
    color: white;
}

.home-box-row {
    display: flex;
    margin-top: 50px;
}

.home-box-row-2 {
    display: flex;
    align-items: center;
}

.container-background {
    background-image: url(../src/images/typewriter.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 1px solid #000;
    top: 0;
    padding: 0;
    margin: 0;
}

.container-home-intro {
    color: white;
    margin-left: 100px;
    
}

.link {
    text-decoration: none;

}

nav {
    width: 300px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #131111;
}

/* 
SignUp
*/

.signup-form {
    height: 400px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 35px 35px;
    margin-left: 200px;
    margin-top: 80px;
}

.signup-form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.signup-label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
}

.signup-input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.signup-button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

/* 
LogIn
*/

.login-form {
    height: 300px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 35px 35px;
    margin-left: 200px;
    margin-top: 140px;
}

.login-form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.login-label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
}

.login-input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.login-button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

/* 


input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
*/
.search-bar {
    width: 650px;
    height: 30px;
}

.filter-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px;
    margin: 0px 10px 20px 10px;   
    border: 1px solid rgb(120, 117, 117);
}

.all-projects-container {
    margin: 10px 20px;
    font-family: Poppins;
}

.all-projects-container h1 {
    margin-left: 10px;
}

.project-card {
    margin: 0px 10px;
    font-family: Poppins;
    color: #000;
    display: flex;
}

.project-card p {
    padding: 0px 10px;
}

.compensation {
    color: rgb(42, 80, 4);
}

.project-details-box {
    height: 400px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 35px 35px;
    margin-left: 150px;
    margin-top: 80px;
}

.project-details-box * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.add-project-box {
    height: 500px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 35px 35px;
    margin-left: 100px;
    margin-top: 25px;
}

.add-project-box * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.add-project-label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
}

.add-project-input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.add-project-button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}